@page
@model RazerPageUsers2.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="SurnameGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        FullName: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Surname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.User[0].DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].IdentificationNuber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificationNuber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
